body,li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    list-style: none;
}

.box{
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu li{
    padding-left: 40px;
}

#ham{
    display: none;
}

#menuguer{
    display: none;
}

@media (max-width:700px){

    body,li{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        list-style: none;
    }
    
    .box{
        border: 1px solid black;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 76px;
    }
    
    #menu1{
        display: none;
    }
   
    
    #ham{
        display: flex;
        margin: 10px;
        border: 0px;
        padding: 0px;
        background: none;
    }
 
    /*menu superior*/
    
    .boxpai{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: flex-end;
        }
    
    .boxfilho{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        align-items: center;
        border: 1px solid black;
    }
    
    #menuguer{
        display: none;
    }
    
    #menuguer li{
        padding-bottom: 10px;
        margin: 0px;
        

    }

}

