@font-face {
    font-family: 'droid';
    src: url(Fontes/DroidSerif-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open';
    src: url(Fontes/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*fontes não estão funcionando*/
body {
    padding: 0;
    margin: 0;
    background-image: url("Imagem/2456205.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    align-content: center;
    display: block;
    flex-wrap: nowrap;  
    }


header{
    height: 150px;
}
/*container pai do menu, ao utiliza altura em px
ele não fica responsivo, em vw sim*/

#menu{
    display: flex;
    background-color: white;
    margin-top: 4%;
    margin-left: 11%;
    margin-right: 12%;
    height: 100%;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
   }
/*- margin-left and right para centralizar o box na página*/

#logo{
    font-family: 'open';
    font-size: 30px;
    display: flex;
    margin: 0;
    width: auto;
    color: rgb(240, 175, 224);
    background-color: white;
}

#lista{
    font-family: 'Droid';
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: transparent;
    padding: 20px;
    padding-left: 40px;
    margin-right: 40px;
    margin-left: 20px;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
         
}


#lista.li{
    padding-right: 100px;
    
}

#login{
    max-width: 17%;
    min-width: 12%;
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
    background-color: white;
    color: darkblue;
    border: 3px solid darkblue;
    box-shadow: 0px 4px darkblue;
}
/*Até aqui Menu superior*/
#form{
    display: grid;
    margin-left: 15%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10vw 10vw 150vw ;
    grid-template-areas: 
    "name email"
    "subject subject"
    "message message";
    column-gap: 10px;
    row-gap: 10px;
   
}

#formcontact{
    display: grid;
    margin-left: 11%;
    margin-right: 12%;
       
}


#name{
    display: grid;
    grid-area: name;
    border-radius: 10px;
    
}

#email{
    display: grid;
    grid-area: email;
    border-radius: 10px;
}

#subject{
    display: grid;
    grid-area: subject;
    border-radius: 10px;
}

#message{
    display: grid;
    grid-area: message;
    border-radius: 10px;
}

fieldset{
    margin: 0;
    border: 0;
    padding: 0;
    height: 200px;
}

#send{
    font: 'droid';
    font-size: 20px;
    margin: 0;
    padding: 0;
    max-width: 15%;
    min-width: 15%; 
    background-color: rgb(240, 175, 224);
    border-radius: 10px;
    color: darkblue;
    border: none;
    box-shadow: 0px 8px darkblue;
    margin-left: 15%;   
    
    
  
}
/*font-weight não funcionou
nresponsividade dos botoes não funionou */

@media screen {max-width: 540px;
    
}
    
