body{
    height: 95vh;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-areas: 
    "header header"
    "nav nav"   
    "section aside"
    "footer footer";    
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
      
    
}

header{
    display: grid;
    background-color: darkgray;
    grid-area: header;
    padding: 10px 10px;
    align-content: center;
}

#nav {
    display: grid;
    background-color: blue;
    color: white;
    grid-area: nav;
    padding: 10px 10px; 
    align-content: center;
}




article {
    display: flex;
    background-color: gray;
    margin-left: 20px;
    padding: 5px 10px; 
    width: 80%;
    height: 40%;
}

#lorem{
    display: none;
}

main{
    background-color: darkgray;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 340px;

}
section{
    background-color: darkgray;
    grid-area: section;
    padding: 10px 10px;
}

aside{
    display: grid;
    background-color: darkgray;
    grid-area: aside;
    padding: 10px 10px;
    align-content: flex-start;
}

footer{
    display: grid;
    background-color: darkgray;
    grid-area: footer;
    padding: 10px 10px;
    align-content: center;
}

#lista{
    display: none;
}

@media (max-width: 540px) {
    
    body{
        height: 95vh;
        font-size: 36;
        padding: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 15vh auto auto 10vh 10vh;   
        grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer" ;
    }

    header{
        display: grid;
        background-color: darkgray;
        grid-area: header;
        padding: 10px 10px;
        align-content: center;
    }

    #nav {
       
        justify-content: baseline;
        align-content: center;
        background-color: blue;
        color: white;
        grid-area: nav;
        padding: 10px 10px; 
        align-content: center;
    }

      #nav p{
          display: none;
      }
    
    #lista{
        width: 80px;
        display: flex;
        flex-wrap: wrap;      
    }

      a:link {
            color:white;
            background-color: transparent;
            text-decoration: none;
          }

    #lista ul{
        padding-inline-start: 0%;
    }

    article{
        background-color: transparent;
        height: 90%;
        align-items: center;
    }
    
    #article {
        display: none;
    }

    #lorem{
        display: grid;
        text-align: justify;
        padding: 10px;
    }
    
    main{
        grid-area: main;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 340px;
        
    
    }
    section{
        display: none;
        background-color: darkgray;
        grid-area: section;
        padding: 10px 10px;
    }
    
    aside{
        display: grid;
        background-color: darkgray;
        grid-area: aside;
        padding: 10px 10px;
        align-content: center;
    }
    
    footer{
        display: grid;
        background-color: darkgray;
        grid-area: footer;
        padding: 10px 10px;
        align-content: center;
    }
    
    
}        

