body{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    grid-template-columns: 400px 100px;
    grid-template-rows: 50px 50px 200px 50px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "section aside"
    "footer footer";    
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 100px;  
    
}

header{
    display: grid;
    background-color: darkgray;
    grid-area: header;
    padding: 10px 10px;
    align-content: center;
}

nav{
    display: grid;
    background-color: blue;
    color: white;
    grid-area: nav;
    padding: 10px 10px; 
    align-content: center;
}

main{
    background-color: darkgray;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 340px;

}
section{
    background-color: darkgray;
    grid-area: secction;
    padding: 10px 10px;
    align-content: center;
    display: flexbox
}

  .sec{
    height: 40px;
    align-content: center;
  }  

  .art{
    height: 120px ;
    background-color: grey;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

aside{
    display: grid;
    background-color: darkgray;
    grid-area: aside;
    padding: 10px 10px;
    align-content: flex-start;
}

footer{
    display: grid;
    background-color: darkgray;
    grid-area: footer;
    padding: 10px 10px;
    align-content: center;
}
